UI/Service References/FolderServiceClient/FolderWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FolderWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49778/FolderWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49778/FolderWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49778/FolderWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HuaweiSoftware.Folder.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFolderWCF_SaveData_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveData" />
  </wsdl:message>
  <wsdl:message name="IFolderWCF_SaveData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFolderWCF_LoadData_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadData" />
  </wsdl:message>
  <wsdl:message name="IFolderWCF_LoadData_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFolderWCF_DeleteTable_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTable" />
  </wsdl:message>
  <wsdl:message name="IFolderWCF_DeleteTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTableResponse" />
  </wsdl:message>
  <wsdl:portType name="IFolderWCF">
    <wsdl:operation name="SaveData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFolderWCF/SaveData" message="tns:IFolderWCF_SaveData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFolderWCF/SaveDataResponse" message="tns:IFolderWCF_SaveData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFolderWCF/LoadData" message="tns:IFolderWCF_LoadData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFolderWCF/LoadDataResponse" message="tns:IFolderWCF_LoadData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IFolderWCF/DeleteTable" message="tns:IFolderWCF_DeleteTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFolderWCF/DeleteTableResponse" message="tns:IFolderWCF_DeleteTable_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFolderWCF" type="tns:IFolderWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveData">
      <soap:operation soapAction="http://tempuri.org/IFolderWCF/SaveData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadData">
      <soap:operation soapAction="http://tempuri.org/IFolderWCF/LoadData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTable">
      <soap:operation soapAction="http://tempuri.org/IFolderWCF/DeleteTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FolderWCF">
    <wsdl:port name="BasicHttpBinding_IFolderWCF" binding="tns:BasicHttpBinding_IFolderWCF">
      <soap:address location="http://localhost:49778/FolderWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>