UI/Service References/FolderServiceClient/FolderWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HuaweiSoftware.Folder.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HuaweiSoftware.Folder.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFolderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FolderInfo" nillable="true" type="tns:FolderInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFolderInfo" nillable="true" type="tns:ArrayOfFolderInfo" />
  <xs:complexType name="FolderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PID" type="xs:int" />
      <xs:element minOccurs="0" name="Size" type="xs:long" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FolderInfo" nillable="true" type="tns:FolderInfo" />
</xs:schema>